@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
	padding: 15px;
	max-height: 70px;
}

#logo {
	width: 150px;
	height: 60px;
	display: block;
	margin-left: 60px;
	margin-top: 10px;
}

h1 {
	margin-top: 20px;
}

#logout-container {
	margin-right: 60px;
	cursor: pointer;
	color: #fff;
}

#logout-btn {
	background-color: #3498db;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
}

#logout-btn:hover {
	background-color: #3498db;
}

#container {
	display: flex;
}

#leftMenu {
	width: 200px;
	background-color: #f2f2f2;
	padding: 15px;
}

#leftMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#leftMenu li {
	margin-bottom: 10px;
}

#leftMenu a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s;
}

#leftMenu a:hover {
	background-color: #ddd;
}

#content {
	flex: 1;
	padding: 15px;
}