@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
	text-align: center;
}

h2 {
	color: #3498db;
}

form {
	max-width: 400px;
	margin: 20px auto;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: left;
}

p {
	margin: 10px 0;
}

input[type="submit"], input[type="button"] {
	padding: 10px;
	background-color: #3498db;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 5px; /* Add margin to the right of the buttons */
}

/* Container for info text */
.info-container {
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
	text-align: left;
}

/* Styled info text */
.info-text {
	font-weight: bold;
	margin-bottom: 5px;
}