@charset "UTF-8";

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	margin-bottom: 20px;
	color: #333;
	font-family: 'Roboto', sans-serif;
}

.register-heading {
	font-size: 24px;
	margin-bottom: 20px;
	display: block; /* Thêm dòng này để chuyển sang kiểu hiển thị block */
}

main {
	text-align: center;
}

form {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	margin-top: 30px;
	display: inline-block;
}

label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	color: #333;
	text-align: left;
}

input {
	width: 100%;
	padding: 12px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
}

input[type="submit"] {
	background-color: #3498db;
	color: #fff;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 14px;
	font-size: 18px;
	transition: background-color 0.3s ease;
}