@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

body {
	overflow-x: hidden;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.header-logo {
	width: 150px;
	height: 60px;
	display: block;
	/* position: absolute; */
	transform: translateX(-77px);
	margin-top: 15px;
}

.header {
	/* display: flex;
    justify-content: space-between;
    align-items: center;
    */
	position: relative;
}

.header ul li {
	list-style: none;
}

.header ul {
	display: flex;
	list-style-type: none;
	/* position: absolute;
left: 28vw; */
	padding-left: 6vw;
}

nav {
	/* background-color:#2f3542 */
	/* height: 57px; */
	
}

.header ul li a {
	color: rgba(0, 0, 0, 0.545);
	text-decoration: none;
	display: block;
	padding: 20px 28px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	transform: translateY(20px);
	margin-top: -70px;
}

.menu-icon {
	background-color: #2f3542;
	font-size: 20px;
	cursor: pointer;
	color: white;
	display: none;
}

@media screen and (max-width:768px) {
	.header ul {
		flex-direction: column;
		text-align: left;
		position: absolute;
		left: 0;
	}
	.menu-icon {
		display: block;
	}
	nav {
		display: none;
		height: 100vh;
		width: 40vw;
		background-color: rgb(196, 203, 209);
	}
	.header-logo {
		margin: 0 auto;
		position: relative;
	}
	.header ul li a {
		color: rgb(16, 15, 15);
		display: flex;
		border-bottom: 1px solid #d2dae2;
	}
}

.login-btn {
	background-color: #3498db;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	transition: background 0.5s ease;
	display: block;
	align-items: center;
	height: 31px;
	margin-top: -35px;
	margin-left: 10px;
}

.login-btn i {
	margin-right: 8px;
}

.login-btn:hover {
	background: #2980b9;
}
/* Styling for the welcome message */
.c-welcome {
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	margin-top: 29px;
	font-size: 17px;
	margin-top: -30px;
}

.c-logout-btn {
	background-color: #2980b9;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	height: 31px;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
}

.phan_than {
	display: flex;
	max-width: 100%;
}

.trai {
	max-width: 400px;
	display: block;
	margin-top: 50px;
	margin-left: 40px;
}

h2 {
	display: block;
	color: rgba(0, 0, 0, 0.658);
	font-size: 20px;
}

h3 {
	display: block;
	color: rgba(0, 0, 0, 0.658);
	font-size: 20px;
	margin-top: 40px;
}

.tour_detail ul {
	display: flex;
	padding-top: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.392);
}

.tay_bac ul {
	display: flex;
	padding-top: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.392);
}

.da_lat ul {
	display: flex;
	padding-top: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.392);
}

.vinh_hy ul {
	display: flex;
	padding-top: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.392);
}

.cau_dat ul {
	display: flex;
	padding-top: 20px;
}

.sapa ul {
	display: flex;
	padding-top: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.392);
}

.tour a {
	text-decoration: none;
	display: block;
	margin-left: 12px;
	color: rgba(0, 0, 0, 0.727);
	max-width: 126px;
	font-size: 17px;
}

.tour a:hover {
	color: #e67e22;
}

.price2 {
	display: block;
	margin-left: 12px;
	color: rgb(29, 234, 234);
	font-size: 18px;
	margin-top: -7px;
}

.price1 {
	display: block;
	margin-left: 12px;
	color: rgb(29, 234, 234);
	font-size: 18px;
	margin-top: -5px;
}

s {
	text-decoration-color: #2f3542;
}

.tour img {
	object-fit: cover;
}

.kinh_nghiem img {
	object-fit: cover;
}

.kinh_nghiem a {
	text-decoration: none;
	max-width: 160px;
	font-size: 17px;
	display: block;
	margin-left: 12px;
	color: rgba(0, 0, 0, 0.727);
}

.kinh_nghiem a:hover {
	color: #e67e22;
}

.phai {
	max-width: 880px;
	border-left: 1px solid #2f35424c;
	border-right: 1px solid #2f35424c;
	margin-left: 25px;
	margin-top: 50px;
}

h1 {
	margin-left: 30px;
	font-weight: bold;
	font-size: 30px;
	color: #2f3542e2;
}

.day {
	display: block;
	margin-left: 30px;
	margin-top: 20px;
	color: #2f3542d7;
}

.day a {
	text-decoration: none;
	color: #2f3542d7;
}

.day a:hover {
	color: #e67e22;
}

.text1 {
	margin-left: 30px;
	margin-top: 30px;
	font-size: 18px;
	color: #2f3542d7;
	line-height: 1.5;
}

.text1 img {
	object-fit: cover;
	margin-top: 15px;
	width: 802px;
	height: 447px;
}

.text1 span {
	display: block;
	width: 800px;
	background-color: #d2dae2;
	text-align: center;
}

.text2 {
	margin-left: 30px;
	margin-top: 30px;
	font-size: 18px;
	color: #2f3542d7;
	line-height: 1.5;
}

.text2 span {
	font-weight: bold;
	font-size: 24px;
	color: #2f3542e2;
}

.tieu_de {
	margin-left: 30px;
	font-weight: bold;
	font-size: 20px;
	color: #2f3542e2;
	display: block;
	margin-top: 50px;
}

.text3 {
	
}

.text3 ul {
	display: flex;
	padding-left: 3px;
}

.text3 ul li p {
	color: #2f3542e2;
	margin-left: 50px;
	max-width: 190px;
	text-align: center;
	margin-top: 10px;
}

.text3 ul li span {
	color: #2f3542b6;
	display: block;
	margin-left: 90px;
	margin-top: 10px;
}

.text3 a {
	text-decoration: none;
	color: #2f3542e2;
}

.text3 img {
	width: 100%;
	height: 143px;
	object-fit: cover;
}

.text3 ul li {
	display: block;
	width: 800px;
	margin: 8px 15px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	list-style: none;
}

.text3 li a {
	display: block;
	margin-left: -25px;
}

.text3 li a:hover {
	color: #e67e22;
}

.footer {
	max-width: 100vw;
	width: 100vw;
	background-color: rgb(10, 10, 50);
	margin-top: 80px;
	height: 290px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.list_footer {
	display: flex;
	list-style-type: none;
}

.list1 {
	display: block;
	margin-left: -2vw;
	margin-top: 40px;
}

.p1 {
	font-size: 22px;
	color: rgb(236, 167, 37);
}

.p2 {
	margin-top: 10px;
	font-size: 20px;
	color: white;
}

.sp1 {
	font-size: 20px;
	color: white;
	display: inline-block;
	margin-top: 20px;
}

.p3 {
	color: white;
	margin-top: 5px;
	font-size: 20px;
}

.a1 {
	text-decoration: none;
	color: white;
	display: inline-block;
	margin-top: 10px;
	font-size: 20px;
}

.list2 {
	margin-left: 90px;
	margin-top: 40px;
}

.p4 {
	font-size: 22px;
	color: rgb(236, 167, 37);
}

.p5 {
	margin-top: 20px;
	color: rgb(224, 224, 36);
	font-size: 20px;
}

.fb_icon {
	font-size: 30px;
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
}

.fb_icon:hover {
	background-color: white;
	transition: all 0.5 linear;
	border-radius: 50%;
}

.ins_icon:hover {
	background-color: white;
	transition: all 0.5 linear;
	border-radius: 50%;
}

.mail_icon:hover {
	background-color: white;
	transition: all 0.5 linear;
	border-radius: 50%;
}

.tiktok_icon:hover {
	background-color: white;
	transition: all 0.5 linear;
	border-radius: 50%;
}

.ins_icon {
	font-size: 30px;
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
}

.mail_icon {
	font-size: 30px;
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
}

.tiktok_icon {
	font-size: 30px;
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
}

.list3 {
	margin-left: 60px;
	margin-top: 40px;
}

.p6 {
	font-size: 22px;
	color: rgb(236, 167, 37);
}

.a2 {
	text-decoration: none;
	color: white;
	display: block;
	margin-top: 13px;
	font-size: 20px;
}

.a2:hover {
	transition: all 0.5 linear;
	text-decoration: underline;
}

.a3:hover {
	transition: all 0.5 linear;
	text-decoration: underline;
}

.a4:hover {
	transition: all 0.5 linear;
	text-decoration: underline;
}

.a5:hover {
	transition: all 0.5 linear;
	text-decoration: underline;
}

.a3 {
	text-decoration: none;
	color: white;
	display: block;
	font-size: 20px;
}

.a4 {
	text-decoration: none;
	color: white;
	display: block;
	font-size: 20px;
}

.a5 {
	text-decoration: none;
	color: white;
	display: block;
	font-size: 20px;
}

.text_footer {
	margin-left: 0;
	margin-right: 0;
	margin-top: 30px;
}

.sp2 {
	font-size: 18px;
	color: white;
}

.sp3 {
	font-size: 18px;
	color: rgb(190, 130, 19);
}