*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
body{
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header-logo{
    width: 150px;
    height: 60px;
    display: block;
    /* position: absolute; */
     transform: translateX(-77px);
     margin-top: 15px;
}
.header{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    */
    position: relative; 
} 
.header ul li{
    list-style: none;
}
.header ul{
display: flex;
list-style-type: none;
/* position: absolute;
left: 28vw; */
padding-left:6vw;

}
nav{
    /* background-color:#2f3542 */
    /* height: 57px; */
    
}
.header ul li a{
    color:rgba(0, 0, 0, 0.545);
    text-decoration: none;
    display: block;
    padding: 20px 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transform: translateY(20px);
    margin-top: -70px;
}

.menu-icon{
    background-color: #2f3542;
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: none;

}
@media screen and (max-width:768px) {
    .header ul{
        flex-direction: column;
        text-align: left;
        position: absolute;
        left: 0;
    }
    .menu-icon{
        display: block;
    }
    nav{
        display: none;
        height: 100vh;
        width: 40vw;
        background-color: rgb(196, 203, 209);
    }
    .header-logo{
       margin:0 auto;
       position: relative;

    }
    .header ul li a{
        color: rgb(16, 15, 15);
        display: flex;
        border-bottom:1px solid #d2dae2;
       
    }
}
.login-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: background 0.5s ease;
    display: block;
    align-items: center;
    height: 31px;
     margin-top: -35px;
     margin-left: 10px;
  
}

.login-btn i {
    margin-right: 8px;
}

.login-btn:hover {
    background: #2980b9;
}
/* Styling for the welcome message */
.c-welcome {
    font-weight: bold;
   color:rgba(0, 0, 0,1);
     margin-top: 29px;
     font-size: 17px;
     margin-top: -30px;
    
}

.c-logout-btn {
    background-color:#2980b9;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
     height: 31px;
     display: block;
     margin-top: 20px;
     margin-left: 20px;
    
}
.noi_dung ul{
    display: flex;
}
.container{
width: 800px;
height:800px ;
margin-left: 30px;
margin-top: 30px;

}
.main{
    position: relative;
    height: 70%;
    margin-bottom: 5px;
}
.list-img{
    width: 100%;
    height: 25%;
    display: flex;
     justify-content: space-between;
}
.list-img div{
    flex: 1;  
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    padding: 10px 8px;
}
.control{
    position: absolute;
    top: 50%;
    font-size: 45px;
    transform: translateY(-50%);
    color:white;
    cursor: pointer;

}

.prev{
    left: 15px;
    
}
.next{
    right: 15px;
}
.active{
    background:#3498dbbf ;
}
.img-main{
transition:1s;
}
.phai{
    margin-top: 35px;
    width: 358px;
    height:750px ;
    margin-left: 10px;
    background-color: #3498db;
}
h1{
    font-size: 28px;
    color: white;
    display: block;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
   
}
.phai td{
    font-size: 20px;
    color: white; 
  padding-left:10px;
  padding-top: 9px;
}

.price1{
        font-size: 28px;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.784);
        width: 298px;
        height: 43px;
        text-align: center;
        display: block;
        margin-top: 15px;
        margin-left: 30px;
}
.price1 span{
    display: block;
    margin-top: 7px;
}
input[type="submit"]{
    width: 298px;
    height: 43px;
    background-color:#e74c3c;
    font-size: 21px;
    color: white;
    margin-top: 15px;
    margin-left: 30px;
    border: 1px solid #e74c3c;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #2f3542;
}
.lh{
    margin-top: 15px;
    margin-left: 30px;
    color: white;
    font-size: 17px;
}
.hotline{
    margin-top: 15px;
    margin-left: 30px;
    color: white;
    font-size: 21px;
    width: 298px;
    height: 80px;
    border: 2px solid #e67e22;
    text-align: center;

}
.hotline span{
    display: block;
    margin-top: 7px;
    line-height: 1.5;
}
.mo_ta{
    width: 1157px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.545);
    margin-left: 30px;
    display: block;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #2c3e50
}
.title{
    width:70px;
    height: 30px;
    color: #2c3e50;
    display: block;
    margin-left: 20px;
    border-radius: 3px;
}
.noi_dungMT{
font-size: 20px;
color: #2c3e50;
margin-left: 20px;
}
.tour{
    width: 100%;
    background-color: rgba(213, 226, 237, 0.6);
    margin-top: 50px;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h4{
    color: rgb(233, 177, 73);
    font-weight: bold;
    font-size: 30px;
    display: block;
   /* margin-left: -2vw; */
   margin-left: 0;
   margin-right: 0;
  padding-top: 40px;
}
.box_tour{
    width:365px ;
    height: 460px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.581);
    
}
.tour-highlight {
    position: relative;
    overflow: hidden;
    
        
}

.highlight-text {
    position: absolute;
    top: 30%;
    left: 9%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 16px;
    background-color:rgb(238, 73, 13);
    height: 27px;
    width: 120px;
    z-index: 1;
    text-align: center;  
}
.noi_bat{
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top:5px ;
    color: white !important;
}
.tour table tr td{
    padding: 20px 15px;
}
.ngaydi{
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 10px;
    color: rgb(79, 79, 213);
    margin-left:15px ;
}
.box_tour span{
   color: rgba(0, 0, 0, 0.652);
}
.icon_tour{
    color: rgba(0, 0, 0, 0.652);
    margin-left:15px ;
}
.price{
    display: block;
    font-size: 20px;
    width:100% ;
    background-color: rgb(187, 205, 220);
    color: rgb(238, 73, 13);
    height: 38px;
    padding: 9px;
    margin-top: 18px;
    border-radius: 10px;
   
}
.chi_tiet_tour{
    display: block;
    text-decoration: none;
    background-color:rgb(238, 73, 13) ;
    color: white;
    width: 100%;
    height: 38px;
    padding: 9px;
    border-radius: 10px;
   

}
.ngaydi:hover{
    color: #e67e22;
}
.chi_tiet_tour:hover{
    background-color: #2c3e50;
}
.anh_tour{
    object-fit: cover;
}

.footer{
    max-width: 100vw;
    width: 100vw;
    background-color: rgb(10, 10, 50);
    margin-top: 80px;
    height: 290px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.list_footer{
    display: flex;
    list-style-type: none;
}
.list1{
    display: block;
    margin-left: -2vw;
    margin-top: 40px;
}
.p1{
    font-size: 22px;
    color: rgb(236, 167, 37);
}
.p2{
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
.sp1{
    font-size: 20px;
    color: white;
   display: inline-block;
   margin-top: 20px;
}
.p3{
    color: white;
    margin-top: 5px;
    font-size: 20px;
}
.a1{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
}
.list2{
    margin-left: 90px;
    margin-top: 40px;
}
.p4{
    font-size: 22px;
    color: rgb(236, 167, 37); 
}
.p5{
    margin-top: 20px;
    color:rgb(224, 224, 36);
    font-size: 20px;
}
.fb_icon{
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
   
}
.fb_icon:hover{
    background-color: white;
    transition: all 0.5 linear;
    border-radius: 50%;
}
.ins_icon:hover{
    background-color: white;
    transition: all 0.5 linear;
    border-radius: 50%;
}
.mail_icon:hover{
    background-color: white;
    transition: all 0.5 linear;
    border-radius: 50%;
}
.tiktok_icon:hover{
    background-color: white;
    transition: all 0.5 linear;
    border-radius: 50%;
}

.ins_icon{
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
   
}
.mail_icon{
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
   
}
.tiktok_icon{
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
   
}
.list3{
    margin-left: 60px;
    margin-top: 40px;
}
.p6{
    font-size: 22px;
    color: rgb(236, 167, 37);    
} 
.a2{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 13px;
    font-size: 20px;
}
.a2:hover{
    transition: all 0.5 linear;
    text-decoration: underline;
}
.a3:hover{
    transition: all 0.5 linear;
    text-decoration: underline;
}
.a4:hover{
    transition: all 0.5 linear;
    text-decoration: underline;
}
.a5:hover{
    transition: all 0.5 linear;
    text-decoration: underline;
}
.a3{
    text-decoration: none;
    color: white;
    display: block;
    
    font-size: 20px;
}
.a4{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
}
.a5{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
}
.text_footer{
margin-left: 0;
margin-right: 0;
margin-top: 30px;
}
.sp2{
    font-size: 18px;
    color: white;
}
.sp3{
    font-size: 18px;
    color: rgb(190, 130, 19);
}
