body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 15px;
}

#content {
	margin: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #333;
	color: white;
}

h1 {
	margin-top: 20px;
}

td:nth-child(2), th:nth-child(2) {
	width: 150px;
}
